.card {
  margin: 0 2% !important;
}

.infected {
  border-bottom: 10px solid rgba(0, 0, 250, 0.5);
}

.recovered {
  border-bottom: 10px solid rgba(0, 250, 0, 0.5);
}

.deaths {
  border-bottom: 10px solid rgba(250, 0, 0, 0.5);
}
